<center>
  <div class="wrapper">
    <%= form_with model: user, url: registrations_path do |f|%>
    <div class="field">
      <%= f.text_field :first_name, placeholder: "First Name" %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, placeholder: "Last Name" %>
    </div>
  
    <div class="field">
      <%= f.text_field :email, placeholder: "Email" %><br><br>
    </div>
  
    <div class="field">
      <%= f.password_field :password, placeholder: "Password" %><br>
    </div>
  
    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "Re-enter Password" %><br><br>
    </div>
  
    <div class="field">
      Birthday:
      <%= f.date_field :date_of_birth %>
    </div><br><br>
 
    <div class="checkbox">
      <%= f.radio_button :gender, 'Male' %> Male &nbsp&nbsp&nbsp&nbsp
      <%= f.radio_button :gender, 'Female' %> Female<br><br>
    </div>
  
      <%#= f.label "Profile Photo:"%>
      <%#= f.file_field :avatar, accept: 'avatar/png, avatar/gif, avatar/jpg, avatar/jpeg' %><br><br>
  
    <div class="field">
      <%= f.submit 'Sign Up' %>
    </div>
    <% end %>
</center>