<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFDD0;">
  <div class="container-fluid">
    <a class="navbar-brand"><h3 style="display: flex;justify-content: center;align-items: center;"><%= @current_user.first_name.capitalize %>&nbsp;&nbsp;<span><% if @current_user.avatar.representable? %><%= image_tag @current_user.avatar, :size=> '50x40'%><% end %></span></h3></a>    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <form action= <%= welcome_index_path %> class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_key">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <strong style="margin: 0 30px;">
          <%= link_to 'Home', root_path %>
          <%= link_to 'Profile', welcome_path(@current_user.id) %>
          <%= link_to 'Create a Post', new_post_path, data: { turbo_frame: "remote_modal" } %>
          </strong>
          <%= button_to 'Logout', session_path(@current_user), method: :delete, class: 'btn btn-primary' %>
      </ul>
    </div>
  </div>
</nav>


  
  

