<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3c5a9a;">
  <div class="container-fluid">
    <%= image_tag 'https://www.freepnglogos.com/uploads/logo-facebook-png/facebook-logo-facebook-symbol-meaning-history-and-evolution-3.png', :size=> '55x54', style: "border-radius: 15%;"%>  

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <form action= <%= welcome_index_path %> class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search posts" aria-label="Search" name="search_key" style="margin-left: 25px;width: 590px;">
          <button class="btn btn-outline-success" type="submit" style="display: none;">Search</button>
        </form>
        
        <strong style="margin: 0 30px;">
          <div id="outer">
            
            <%#= link_to 'Home', root_path, style: "color: white;" %>
            <%= link_to root_path, class: "tag-tooltip", :data => {:toggle=>"tooltip"}, :title => "Home" do %>
              <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYBhvFKR4DhrLlZJDu7Q4rE7RKCYEOmYAwZg&usqp=CAU', :size=> '35x35', style: "border-radius: 50%;"%>
            <% end %>

            <%= link_to welcome_path(@current_user.id), class: "tag-tooltip", :data => {:toggle=>"tooltip"}, :title => "Profile" do %>
              <% if @current_user.avatar.representable? %>
                <%= image_tag @current_user.avatar, :size=> '35x35'%>
              <% else %>
                <%= image_tag 'https://scontent.fbho4-1.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-6&_nc_sid=7206a8&_nc_ohc=qP5OfDS9FOsAX8dsLHL&_nc_ht=scontent.fbho4-1.fna&oh=00_AT8cR63aKDWfhdEJucSjqiYNa9G_QLzh7ravtrxmdNJ9DA&oe=62A2EAF8', :size=> '35x35', style: "border-radius: 50%;"%>
              <% end %>
            <% end %>
          
            <%#= link_to 'Find Friends', registrations_path(@current_user.id), style: "color: white;" %>
            <%= link_to findfriends_path, class: "tag-tooltip", :data => {:toggle=>"tooltip"}, :title => "Find Friends" do %>
              <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThijoj1WbdkEAtWU2JKGCBb2GipU0D94Cf1A&usqp=CAU', :size=> '35x35', style: "border-radius: 50%;"%>          
            <% end %>
            
            <%#= link_to 'Messages', rooms_path, style: "color: white;" %>
            <%= link_to rooms_path, class: "tag-tooltip", :data => {:toggle=>"tooltip"}, :title => "Message" do %>
              <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKL9FjjI7oJBlsRih79rfhVaiSzsJRAik_IQ&usqp=CAU', :size=> '35x35', style: "border-radius: 50%;"%>
            <% end %>
            
            <%#= link_to 'Create a Post', new_post_path, data: { turbo_frame: "remote_modal" }, style: "color: white;" %>
            <%= link_to new_post_path, class: "tag-tooltip", :data => {:toggle=>"tooltip"}, :title => "Create Post", data: { turbo_frame: "remote_modal" } do %>
              <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTKCKNH5nWXbzESYB9e8EsbxaSHg5b_XZ1Wg&usqp=CAU', :size=> '35x35', style: "border-radius: 50%;"%>
            <% end %>
        
            <%#= link_to 'Logout', session_path(@current_user), data: { "turbo-method": :delete }, style: "background: transparent;color: white;;border: none;text-decoration: underline; font-family: 'Questrial', sans-serif;font-weight: 600;" %>
            <%#= link_to session_path(@current_user), data: { "turbo-method": :delete }, class: "tag-tooltip", :data => {:toggle=>"tooltip"}, :title => "Logout" do %>
              <%#= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ77fx5vSIBRsGR3Qqdg8EVQuZyDCxe4CWuDQ&usqp=CAU', :size=> '35x35', style: "border-radius: 50%;"%>
            <%# end %>
            
            <%#= button_to 'Logout', session_path(@current_user), method: :delete, class: 'btn btn-primary', style: "background: transparent;color: #0d6efd;border: none;text-decoration: underline; font-family: 'Questrial', sans-serif;font-weight: 600;" %>
            <div class="inner">
              <%= button_to session_path(@current_user), method: :delete, class: 'btn btn-primary', style: "background: transparent;color: #0d6efd;border: none;text-decoration: underline; font-family: 'Questrial', sans-serif;font-weight: 600;" do %>
                <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ77fx5vSIBRsGR3Qqdg8EVQuZyDCxe4CWuDQ&usqp=CAU', :size=> '35x35', style: "border-radius: 50%;"%>
              <% end %>
            </div>
          
          </div>
        </strong>
      </ul>
    </div>
  </div>
</nav>
