<%= request.location.country %>
<%= request.location.city %>
<% if @current_user %>
  <%= render partial: "shared/navbar"%>
  <p id="notice"><%= notice %></p>

  <% @posts.each do |post| %>
  <% unless post.private? %>

    <div class="shadow-lg p-3 mb-5 bg-body rounded">
      <% if post.user.avatar.representable? %>
        <%= image_tag post.user.avatar, :size=> '40x40', style: "border-radius: 50%;" %>
      <% else %>
        <%= image_tag 'https://scontent.fbho4-1.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-6&_nc_sid=7206a8&_nc_ohc=qP5OfDS9FOsAX8dsLHL&_nc_ht=scontent.fbho4-1.fna&oh=00_AT8cR63aKDWfhdEJucSjqiYNa9G_QLzh7ravtrxmdNJ9DA&oe=62A2EAF8', :size=> '40x40', style: "border-radius: 50%;"%>
      <% end %>
    
      <strong style="padding-left: 10px;">
        <%= post.user.first_name.capitalize %>
        <%= post.user.last_name.capitalize %>
      </strong>
    
      <p style="padding-left: 55px;">
        <%= post.body %>
      </p>

      <p style="padding-left: 50px;">
        <% if post.avatar.representable? %>
          <%= image_tag post.avatar, :size=> '270x190'%>
        <% end %>
      </p>

      <% pre_like = post.likes.find_by(user_id: @current_user.id) %>

      <p style="padding-left: 60px;">
        <div id="outer">
          <% if pre_like %>
            <div class="inner" style="padding-left: 50px;"><%= button_to 'Unlike', post_like_path(post.id, pre_like), method: :delete, class: 'btn btn-primary' %>
            </div>
          <% else %>
            <div class="inner" style="padding-left: 50px;"><%= button_to 'Like', post_likes_path(post.id), method: :post, class: 'btn btn-primary' %>
            </div>
          <% end %>
          <div class="inner" style="padding-left: 10px;"><%= link_to "Comment", new_post_comment_path(post.id), class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
          </div>
        </div>
      </p>
      <p style="padding-left: 60px;">
        <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
      </p>
    </div>
  <% end %>
  <% end %>

<% else %>
  <p id="notice"><%= notice %></p>

  <html lang="en">
  <body>

    <div class="h1">
      <h1 class="h"><strong>facebook</strong></h1>
      <p class="pr">Facebook helps you connect and share with the people in your life.</p>
    </div>

    <form action="/sessions" method="post" class="main">
      <input type="text" id="email" name="email" placeholder="Email address or phone number" class="txt"><br>
      <input type="password" id="password" name="password" placeholder="Password" class="txt"><br>
      <input type="submit" value="Log In" class="login-btn"><br>
      
      <div class="a-link">
        <a href="" class="link"></a>
      </div>
      
      <div class="ca">
        <%= link_to "Create New Account", new_registration_path, class: "pca", data: { turbo_frame: "remote_modal" } %>
      </div>
      <%= link_to "Continue With Gmail", user_google_oauth2_omniauth_authorize_path, style: "font-weight: bold;text-decoration-line: none;text-shadow: 0 0 red;font-size: 20px;color: brown;margin-left: 110px;" %>
    </form>

  </body>
  </html>
<% end %>