
<%= render partial: "shared/navbar"%>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
  <div class="row">
    <div class="col-md-1">
      <div>
        <%= turbo_stream_from "users" %>
        <div id="users">
          <%= render "rooms/user" %>
        </div>
      </div>
    </div>

    <% if @single_room %>
      <div class="col-md-11 bg-dark text-light">
        <h4 class="text-center">
          <%= @user.first_name.capitalize %>
        </h4>

        <div>
          <%= turbo_stream_from @single_room %>
          <div id="messages">
            <%= render @messages %>
          </div>
        </div>
      </div>

      <%= render "layouts/new_message_form" %>
        
    <% end %>
  </div>
</div>